<?xml version="1.0"?>
<config>
  <modules>
    <Wsu_Storeutilities>
      <version>0.1.0</version>
    </Wsu_Storeutilities>
  </modules>
  <global>
    <blocks>
      <wsu_storeutilities>
        <class>Wsu_Storeutilities_Block</class>
      </wsu_storeutilities>
      <!-- <checkout>
		<class>Wsu_Storeutilities_Block</class>
		</checkout>-->
      <checkout>
        <rewrite>
          <cart_sidebar>Wsu_Storeutilities_Block_Cart_Sidebar</cart_sidebar>
          <cart_item_renderer>Wsu_Storeutilities_Block_Cart_Item_Renderer</cart_item_renderer>
        </rewrite>
      </checkout>
      <page>
        <rewrite>
          <html_head>Wsu_Storeutilities_Block_Html_Head</html_head>
        </rewrite>
      </page>
      <adminhtml><!-- rewrite admin head block -->
        <rewrite>
          <page_head>Wsu_Storeutilities_Block_Adminhtml_Page_Head</page_head>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <storeutilities>
        <class>Wsu_Storeutilities_Helper</class>
      </storeutilities>
      <checkout>
        <rewrite>
          <url>Wsu_Storeutilities_Helper_Url</url>
          <!--<cart>Wsu_Storeutilities_Helper_Cart</cart>-->
        </rewrite>
      </checkout>
    </helpers>
    <models>
      <wsu_storeutilities>
        <class>Wsu_Storeutilities_Model</class>
      </wsu_storeutilities>
      <catalog>
        <rewrite>
          <product>Wsu_Storeutilities_Model_Product</product>
        </rewrite>
      </catalog>
    </models>
    <resources>
      <storeutilities_setup>
        <setup>
          <module>Wsu_Storeutilities</module>
          <class>Wsu_Storeutilities_Model_Resource_Setup</class>
        </setup>
      </storeutilities_setup>
    </resources>
  </global>
  <admin>
    <layout>
      <updates>
        <storeutilities>
          <file>storeutilities.xml</file>
        </storeutilities>
      </updates>
    </layout>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <wsu_storeutilities before="Mage_Adminhtml">Wsu_Storeutilities_Adminhtml</wsu_storeutilities>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <default>
    <adminhtml>
      <!-- <acl>
        <resources>
          <all>
            <title>Allow Everything</title>
          </all>
          <admin>
            <children>
              <storeutilities_conf module="storeutilities">
                <title>General</title>
                <sort_order>10</sort_order>
              </storeutilities_conf>
              <system>
                <children>
                  <config>
                    <children>
                      <storeutilitiesinfo>
                        <title>Store Utilities Help</title>
                      </storeutilitiesinfo>
                      <storeutilities_conf>
                        <title>Store Utilities tab</title>
                      </storeutilities_conf>
                    </children>
                  </config>
                </children>
              </system>
            </children>
          </admin>
        </resources>
      </acl>-->
      <layout>
        <updates>
          <storeutilities>
            <file>storeutilities.xml</file>
          </storeutilities>
        </updates>
      </layout>
    </adminhtml>
  </default>
  
  <!--<crontab>
    <jobs>
      <storeutilities_emailorders>
        <schedule>
          <cron_expr>*/5 * * * *</cron_expr>
        </schedule>
        <run>
          <model>storeutilities/cron::emailOrders</model>
        </run>
      </storeutilities_emailorders>
      <storeutilities_fetch_settlement_reports>
        <run>
          <model>storeutilities/observer::fetchReports</model>
        </run>
      </storeutilities_fetch_settlement_reports>
    </jobs>
  </crontab>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Wsu_Storeutilities before="Mage_Adminhtml">Wsu_Storeutilities_Adminhtml</Wsu_Storeutilities>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>-->
</config>
