<?xml version="1.0"?>
<config>
	<modules>
		<wsu_storeutilities>
			<version>0.1.0</version>
		</wsu_storeutilities>
	</modules>
	<global>
		<blocks>
			<wsu_storeutilities>
				<class>Wsu_Storeutilities_Block</class>
			</wsu_storeutilities>
			<page>
				<rewrite>
					<html_head>Wsu_Storeutilities_Block_Html_Head</html_head>
				</rewrite>
			</page>
			<adminhtml><!-- rewrite admin head block -->
				<rewrite>
					<page_head>Wsu_Storeutilities_Block_Adminhtml_Page_Head</page_head>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<storeutilities>
				<class>Wsu_Storeutilities_Helper</class>
			</storeutilities>
			<core>
				<rewrite>
					<data>Wsu_Storeutilities_Helper_Core_Data</data>
					<http>Wsu_Storeutilities_Helper_Cloudflarehttp</http>
				</rewrite>
			</core>
		</helpers>
		<models>
			<wsu_storeutilities>
				<class>Wsu_Storeutilities_Model</class>
			</wsu_storeutilities>
			<core>
				<rewrite>
					<design_package>Wsu_Storeutilities_Model_Design_Package</design_package>
				</rewrite>
			</core>
			<!--<catalog>
				<rewrite>
					<product_option>Wsu_Storeutilities_Model_Product_Option</product_option>
				</rewrite>
			</catalog>-->
		</models>
		<resources>
			<storeutilities_setup>
				<setup>
					<module>Wsu_Storeutilities</module>
					<class>Wsu_Storeutilities_Model_Resource_Setup</class>
				</setup>
			</storeutilities_setup>
		</resources>
		<events>
			<admin_system_config_changed_section_wsu_storeutilities_conf>
				<observers>
					<wsu_storeutilities_admin_predispatch>
						<class>Wsu_Storeutilities_Model_Adminhtml_Observer</class>
						<method>cleanConfigCache</method>
					</wsu_storeutilities_admin_predispatch>
				</observers>
			</admin_system_config_changed_section_wsu_storeutilities_conf>
		</events>
		
<!-- CUSTOM OPTION SECTION -->
		<catalog>
			<product>
				<options>
					<custom>
						<groups>
							<alteritemqty translate="label" module="wsu_storeutilities">
								<label>Item Qty Option</label><render>wsu_storeutilities/adminhtml_catalog_product_edit_tab_options_type_alteritemqty</render> 
								<types>
									<alteritemqty translate="label" module="wsu_storeutilities">
										<label>Item Qty Option</label>
									</alteritemqty>
								</types>
							</alteritemqty>
						</groups>
					</custom>
				</options>
			</product>
		</catalog>
<!-- CUSTOM OPTION SECTION -->
		
		
		
		
	</global>
	<admin>
		<layout>
			<updates>
				<storeutilities>
					<file>storeutilities.xml</file>
				</storeutilities>
			</updates>
		</layout>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<wsu_storeutilities before="Mage_Adminhtml">Wsu_Storeutilities_Adminhtml</wsu_storeutilities>
					</modules>
				</args>
			</adminhtml>
<!-- DELETE ORDER SECTION -->			
			<wsu_delete_orders>
                <use>admin</use>
                <args>
                    <module>Wsu_Storeutilities</module>
                    <frontName>wsu_delete_orders</frontName>
                </args>
            </wsu_delete_orders>
<!-- EOF DELETE ORDER SECTION -->
<!-- UNCANCEL ORDER SECTION -->			
			<wsu_uncancel_orders>
                <use>admin</use>
                <args>
                    <module>Wsu_Storeutilities</module>
                    <frontName>wsu_uncancel_orders</frontName>
                </args>
            </wsu_uncancel_orders>
<!-- EOF UNCANCEL ORDER SECTION -->
		</routers>
	</admin>
	<frontend>
		<routers>
			<wsu_storeutilities>
				<use>standard</use>
				<args>
					<module>Wsu_Storeutilities</module>
					<frontName>wsu_storeutilities</frontName>
				</args>
			</wsu_storeutilities>
		</routers>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<load_helper>
						<class>wsu_storeutilities/observer</class>
						<method>alter_output</method>
					</load_helper>
				</observers>
			</core_block_abstract_to_html_before>
			<controller_action_postdispatch>
				<observers>
					<wsu_storeutilities_simpleHtmlMinify>
						<type>singleton</type>
						<class>wsu_storeutilities/observer</class>
						<method>simpleHtmlMinify</method>
					</wsu_storeutilities_simpleHtmlMinify>
				</observers>
			</controller_action_postdispatch>
		</events>
		<layout>
			<updates>
				<wsu_storeutilities>
					<file>wsu/storeutilities.xml</file>
				</wsu_storeutilities>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<wsu_storeutilities>
					<file>wsu/storeutilities.xml</file>
				</wsu_storeutilities>
			</updates>
		</layout>
		<events>
<!-- DELETE ORDER SECTION -->
            <adminhtml_block_html_before>
                <observers>
                    <wsu_delete_orders>
                        <class>wsu_storeutilities/observer</class>
                        <method>addOptionToSelect</method>
                    </wsu_delete_orders>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_delete_after>
                <observers>
                    <wsu_delete_orders>
                      <class>wsu_storeutilities/observer</class>
                      <method>deleteOrderFromGrid</method>
                    </wsu_delete_orders>
                </observers>
            </sales_order_delete_after>
<!-- EOF DELETE ORDER SECTION -->
<!-- UNCANCEL ORDER SECTION -->
            <adminhtml_block_html_before>
                <observers>
                    <wsu_uncancel_orders>
                        <class>wsu_storeutilities/observer</class>
                        <method>addStatusUnCancelOptionToSelect</method>
                    </wsu_uncancel_orders>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_delete_after>
                <observers>
                    <wsu_uncancel_orders>
                      <class>wsu_storeutilities/observer</class>
                      <method>setStatusUnCancel</method>
                    </wsu_uncancel_orders>
                </observers>
            </sales_order_delete_after>
<!-- EOF UNCANCEL ORDER SECTION -->		
		
		
			<core_block_abstract_to_html_before>
				<observers>
					<load_helper>
						<class>wsu_storeutilities/observer</class>
						<method>alter_output</method>
					</load_helper>
				</observers>
			</core_block_abstract_to_html_before>
			<adminhtml_widget_container_html_before>
				<observers>
					<wsu_storeutilities_injectStoreutilitiesButton>
						<class>wsu_storeutilities/observer</class>
						<method>injectStoreutilitiesButton</method>
					</wsu_storeutilities_injectStoreutilitiesButton>
				</observers>
			</adminhtml_widget_container_html_before>
			<adminhtml_block_html_before>
				<observers>
					<wsu_storeutilities_changeattributeset>
						<type>singleton</type>
						<class>wsu_storeutilities/observer</class>
						<method>addMassactionToProductGrid</method>
					</wsu_storeutilities_changeattributeset>
				</observers>
			</adminhtml_block_html_before>
			<http_response_send_before>
				<observers>
					<wsu_storeutilities_simpleHtmlMinify>
						<type>singleton</type>
						<class>wsu_storeutilities/observer</class>
						<method>admin_simpleHtmlMinify</method>
					</wsu_storeutilities_simpleHtmlMinify>
				</observers>
			</http_response_send_before>
		</events>
	</adminhtml>
	<default>
		<wsu_storeutilities>
			<settings>
				<active>0</active>
			</settings>
		</wsu_storeutilities>
		<storeutilities_conf>
			<html>
				<minify_admin_html_output>1</minify_admin_html_output>
				<minify_html_output>1</minify_html_output>
			</html>
			<dev>
				<show_block_type_fe>0</show_block_type_fe>
				<show_block_type_admin>0</show_block_type_admin>
			</dev>
			<minify>
				<js_files>1</js_files>
				<css_files>1</css_files>
				<minify_timeout>300</minify_timeout>
			</minify>
			<general_settings>
				<fejquery>1</fejquery>
				<fejqueryui>1</fejqueryui>
				<fejqueryuicss>1</fejqueryuicss>
				<fejquerymigrate>1</fejquerymigrate>
				<adminjquery>1</adminjquery>
				<adminjqueryui>1</adminjqueryui>
				<adminjqueryuicss>1</adminjqueryuicss>
				<adminjquerymigrate>1</adminjquerymigrate>
			</general_settings>
		</storeutilities_conf>
	</default>
	<!--<crontab>
<jobs>
  <storeutilities_emailorders>
	<schedule>
	  <cron_expr>*/5 * * * *</cron_expr>
	</schedule>
	<run>
	  <model>storeutilities/cron::emailOrders</model>
	</run>
  </storeutilities_emailorders>
  <storeutilities_fetch_settlement_reports>
	<run>
	  <model>storeutilities/observer::fetchReports</model>
	</run>
  </storeutilities_fetch_settlement_reports>
</jobs>
</crontab>
<admin>
<routers>
  <adminhtml>
	<args>
	  <modules>
		<Wsu_Storeutilities before="Mage_Adminhtml">Wsu_Storeutilities_Adminhtml</Wsu_Storeutilities>
	  </modules>
	</args>
  </adminhtml>
</routers>
</admin>-->
</config>
