<?xml version="1.0"?>
<config>
  <tabs>
    <utilitiestab translate="label" module="storeutilities">
      <label>Utilities</label>
      <sort_order>0</sort_order>
    </utilitiestab>
  </tabs>
  <sections>
    <storeutilitiesinfo translate="label" module="storeutilities">
      <label>Read Me</label>
      <tab>utilitiestab</tab>
      <frontend_type>text</frontend_type>
      <sort_order>0</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <hint>
          <frontend_model>wsu_storeutilities/adminhtml_system_config_fieldset_hint</frontend_model>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
        </hint>
	  <!--
        <info>
          <frontend_model>storeutilities/system_config_info</frontend_model>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
        </info>
		-->
      </groups>
    </storeutilitiesinfo>
    <storeutilities_conf module="storeutilities">
      <label>WSU related settings and more</label>
      <tab>utilitiestab</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
		<html translate="label">
			<label>HTML Settings</label>
			<frontend_type>text</frontend_type>
			<sort_order>120</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<fields>
				<minify_html_output translate="label">
					<label>Minify HTML Output</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</minify_html_output>
			</fields>
		</html>
		<minify>
			<label>JS/CSS Minification Settings</label>
			<frontend_type>text</frontend_type>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<fields>
				<enable_yuicompressor translate="label">
					<label>Enable YUICompress</label>
					<comment>this allows better minifications results. (requires Java)</comment>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</enable_yuicompressor>
				<js_files translate="label">
					<label>Minify JavaScript Merged Files</label>
					<comment>Minification is performed only on merged files</comment>
					
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</js_files>
				<css_files translate="label">
					<label>Minify CSS Merged Files</label>
					<comment>Minification is performed only on merged files</comment>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</css_files>
			</fields>
		</minify>
	  
	  
        <general_settings>
          <label>something here</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <expanded>1</expanded>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <debug translate="label">
              <label>Debug</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>56</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </debug>
          </fields>
        </general_settings>
      </groups>
    </storeutilities_conf>
  </sections>
</config>
