<?xml version="1.0"?>

<config>
    <modules>
        <Wsu_Storeutilities>
            <version>1.0.0.0.0.0</version>
        </Wsu_Storeutilities>
    </modules>
    <global>
        <models>
            <wsu_loginAsCustomer>
                <class>Wsu_Storeutilities_Model</class>
            </wsu_loginAsCustomer>
        </models>
        <blocks>
            <wsu_loginAsCustomer>
                <class>Wsu_Storeutilities_Block</class>
            </wsu_loginAsCustomer>
        </blocks>
        <helpers>
            <wsu_loginAsCustomer>
                <class>Wsu_Storeutilities_Helper</class>
            </wsu_loginAsCustomer>
        </helpers>
    </global>

    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <wsu_loginAsCustomer_injectStoreutilitiesButton>
                        <class>wsu_loginAsCustomer/observer</class>
                        <method>injectStoreutilitiesButton</method>
                    </wsu_loginAsCustomer_injectStoreutilitiesButton>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <translate>
            <modules>
                <wsu_storeutilities>
                    <files>
                        <default>Wsu_Storeutilities.csv</default>
                    </files>
                </wsu_storeutilities>
            </modules>
        </translate>

    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wsu_Storeutilities before="Mage_Adminhtml">Wsu_Storeutilities_Adminhtml</Wsu_Storeutilities>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <wsu_loginAsCustomer>
                <use>standard</use>
                <args>
                    <module>Wsu_Storeutilities</module>
                    <frontName>wsu_loginAsCustomer</frontName>
                </args>
            </wsu_loginAsCustomer>
        </routers>
    </frontend>
    <default>
        <wsu_loginAsCustomer>
            <settings>
                <active><![CDATA[0]]></active>
            </settings>
        </wsu_loginAsCustomer>
    </default>
</config>
